<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password generator</title>
</head>
<body>
    <h1>Choose password parameters</h1>
    <form action="">
        <select name="" id="">
            <option value="" selected disabled>Length</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <label for="big_letters">Capital letters</label>
        <input type="checkbox" id="big_letters">

        <label for="numbers">Numbers</label>
        <input type="checkbox" id="numbers">
        
        <label for="specials">Special chars</label>
        <input type="checkbox" id="specials">

        <button type="submit">Generate</button>
    </form>
</body>
</html>